.BorTit
  border-left: 5px solid #8979F3
  padding: 6px 0px 6px 10px
  margin-top: 6px

iframe
  border-radius: 10px

.bloque-texto-b.color-acento-contenido:before 
    background-color:#E1DDFC

.bloque-texto-b:before
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 65%;
    right: 0;



.bloque-texto-b.color-acento-botones:before
    background-color: #F1BF5E

.bloque-texto-b:before 
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    bottom: 50%;
    left: 65%;
    right: 15%;

.cajon.color-acento-contenido 
    background-color: #E1DDFC

.cajon.color-secundario
    background-color: #C0EBF6;